
<link rel="stylesheet" href="/static/style.css">

<h1> Michigan Men's Basketball </h1>


<form action="/bball" method="POST">
    Sort By:<br/>
    <input type="radio" name="sortby" value="year"/> Year <br/>
    <input type="radio" name="sortby" value="wins"/> Wins <br/>
    <input type="radio" name="sortby" value="pct"/> Win Percentage <br/>
    <br/>
    Sort Order:<br/>
    <input type="radio" name="sortorder" value="asc"/> Ascending <br/>
    <input type="radio" name="sortorder" value="desc"/> Descending <br/>
    <br/>
    <input type="submit" name="update" value="Update"/>
    <br/>
    <br/>
</form>

<table border=1>
    <tr>
        <th>Year</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
    </tr>
{% for s in seasons %}
    <tr>
        <td>{{s[1]}}</td>
        <td>{{s[3]}}</td>
        <td>{{s[4]}}</td>
        <td>{{s[5]}}</td>
    </tr>
{% endfor %}
</table>
